/* CSS for the CV */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    /* Utilize flexbox for layout */
    flex-direction: column;
    /* Arrange items vertically */
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #666666;
}

.header h2 {
    font-size: 1.5rem;
    color: #3E0097;
}

.contact ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

.contact li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 8px;
}

.contact li p {
    margin: 0 5px;
}

.summary h2 {
    font-size: 24px;
    color: #3E0097;

}


.education .school,
.experience .job {
    margin-bottom: 20px;
    border-bottom: 2px dotted #666666;


}

.experience .job h3 {
    color: #3E0097;
}

.education h3,
.experience h3 {}

.education h4,
.experience h4 {
    color: #666666;
}

.date {
    color: #666666;
}

.content {
    display: flex;
    /* Utilize flexbox for layout */
    flex-direction: row-reverse;
    /* Reverse the order of columns */
    justify-content: space-between;
    /* Spread items across the horizontal axis */
    align-items: flex-start;
    /* Align items at the top */
}

.left-column,
.right-column {
    flex-basis: 50%;
    /* Divide the available space equally */
}

.left-column {
    padding-left: 20px;
}

.right-column {
    padding-right: 20px;
}


.education h2,
.summary h2,
.experience h2 {
    border-bottom: 3px solid #3E0097;
    padding-bottom: 10px;
    color: #3E0097;
}